/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Material+Symbols+Outlined');
@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i * 5}px;
  }
}


@mixin a-style($text-color, $underline: false) {
  text-decoration: none;
  color: $text-color;

  @if $underline == true {
    &:hover {
      text-decoration: underline;
    }
  } @else {
    &:hover {
      text-decoration: none;
      opacity: 0.8; // altro effetto se non vuoi sottolineare
    }
  }
}

.navbar {
  display: flex;
  gap: 10px;
  background-color: grey;
  color: white;

  a{
    @include a-style(white , false);
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* default size */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

