/* You can add global styles to this file, and also import other style files */
@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i * 5}px;
  }
}


@mixin a-style($text-color, $underline: false) {
  text-decoration: none;
  color: $text-color;

  @if $underline == true {
    &:hover {
      text-decoration: underline;
    }
  } @else {
    &:hover {
      text-decoration: none;
      opacity: 0.8; // altro effetto se non vuoi sottolineare
    }
  }
}

.navbar {
  display: flex;
  gap: 10px;
  background-color: grey;
  color: white;

  a{
    @include a-style(white , false);
  }
}